.time {
  font-family: sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.time>h1{
  color: rgb(226, 51, 21);
  font-family: monospace;
  font-size: 4rem;
  padding: 20px;
  background-color:wheat;
  border: 2px solid chocolate;
}

form>div>input {
  width: 30px;
  height: 30px;
}