.time {
  font-family: sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.time>h1{
  color: rgb(71, 16, 173);
}